{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  org.clojure/data.json {:mvn/version "2.4.0"}
  org.apache.kafka/kafka-clients {:mvn/version "3.4.0"}
  org.apache.kafka/kafka-streams {:mvn/version "3.4.0"} ; for kafkapp.streams namespace
  io.confluent/kafka-json-schema-serializer {:mvn/version "7.3.2"}
  io.confluent/kafka-avro-serializer {:mvn/version "7.3.2"}
  io.confluent/kafka-streams-avro-serde {:mvn/version "7.3.2"} ; for kafkapp.streams namespace to use with schema registry
  integrant/integrant {:mvn/version "0.8.0"}
  org.clojure/tools.cli {:mvn/version "1.0.214"}}

 :mvn/repos
 {"confluent" {:url "https://packages.confluent.io/maven/"}} ;; confluent/kafka-avro-serializer is available in confluent maven repo

 :aliases
 {:run {:main-opts ["-m" "kafkapp.core"]}
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.3"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}}}
